<ion-card>
  <ion-item-divider color="danger">
      {{hazard.userName}} Says
      <ion-buttons slot="end">
        <ion-button (click)="showHazard(hazard)">
          <ion-icon slot="end" name="more" fill="outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      {{ hazard.description }}
    </ion-label>
  </ion-item>
  <ion-img *ngIf="hazard.imageUrl" [src]="hazard.imageUrl"></ion-img>
  <ion-row class="bottom">
    <ion-col>
      <ion-button fill="clear" color="danger" expand="block" (click)="like(post)">
        <ion-icon slot="start" name="warning"></ion-icon>
        <small>{{ hazard.level | titlecase }}</small>
      </ion-button>
    </ion-col>
    <!-- <ion-col>
      <ion-button fill="clear" color="danger" expand="block" (click)="comment(post)">
        <ion-icon slot="start" name="text"></ion-icon>
        <small>2 cmts</small>
      </ion-button>
    </ion-col> -->
    <ion-col>
      <ion-button fill="clear" color="danger" expand="block">
      <!-- <small>{{ ago(post.data().created.toDate()) }}</small> -->
      <small>{{ ago(hazard.createdAt.toDate()) }}</small>
      </ion-button>
    </ion-col>
  </ion-row>
  <!-- <ion-card-header>
    <ion-card-subtitle>{{ hazard.userName }}</ion-card-subtitle>
    <ion-card-title>Private Hazard</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{ hazard.description }}
  </ion-card-content> -->
</ion-card>