<ion-card>
  <ion-item-divider color="danger">
      {{hazard.userName}} reported
      <ion-buttons slot="end">
        <ion-button (click)="showHazard(hazard)">
          <ion-icon slot="end" name="more" fill="outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      {{ hazard.description }}
    </ion-label>
  </ion-item>
  <ion-img *ngIf="hazard.imageUrl" [src]="hazard.imageUrl"></ion-img>
  <ion-row class="bottom">
    <ion-col>
      <ion-button fill="clear" color="danger" expand="block">
        <ion-icon slot="start" name="warning"></ion-icon>
        <small>{{ hazard.level | titlecase }}</small>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="hazard.queryMetadata">
      <ion-button fill="clear" color="danger" expand="block" (click)="comment(post)">
        <ion-icon slot="start" name="navigate"></ion-icon>
        <small>{{ hazard?.queryMetadata.distance.toFixed(2) }} Km</small>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" color="danger" expand="block">
      <!-- <small>{{ ago(post.data().created.toDate()) }}</small> -->
      <small>{{ ago(hazard?.createdAt.toDate()) }}</small>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>