<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon slot="start" name="exit" fill="outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="primary" (click)="goReport()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid fixed>
    <ion-row align-items-center>
      <ion-col>
          <ion-img class="image" src="https://www.eyedocs.co.uk/components/com_community/assets/user-anon.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-button (click)="onClick()" size="small" shape="round" fill="outline" color="dark">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-text color="primary">
          <h2>User Information</h2>
        </ion-text>
      </ion-label>
    </ion-list-header>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Display Name</ion-label>
        <ion-label slot="end">Rony Achmad</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="favorite(item)">Edit</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-item>
      <ion-label>User ID</ion-label>
      <ion-label slot="end">Aserlkifleu623eu</ion-label>
    </ion-item>
    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <ion-label>Organization</ion-label>
          <ion-label slot="end">PT Mekatronik</ion-label>
        </ion-item> 
        <ion-item-options side="end">
          <ion-item-option (click)="favorite(item)">Edit</ion-item-option>
          <ion-item-option color="danger" (click)="delete(item)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    
  </ion-list>
  <br>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-text color="primary">
          <h2>Application</h2>
        </ion-text>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Private Mode</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
